<h1>all-tasks works!</h1>
<div class="row row-cols-1 row-cols-md-3">
    <div *ngFor="let task of tasks" class="col mb-4">
      <div class="card">
        <div class="card-header">{{task.member}}</div>
        <div class="card-body">
          <h5 class="card-title">{{task.date}}</h5>
          <p class="card-text">{{task.task}}</p>
          <p class="card-text" [ngClass]="{'text-success':task.done}" >{{task.done}}</p>
          <button class="btn btn-danger btn-sm float-right" (click)=deleteTask(task._id)>X</button>
          <button class="btn btn-info btn-sm float-left" (click)="getOneMember(task.member)">member page</button>
        </div>
      </div>
    </div>  
</div>
